<div class="action">
  <div class="profile">
    <i class="far fa-user fa-2x"></i>
  </div>
  <div class="menu">
    <ul>
      <li class="menu-li"><i class="fas fa-cog fa-2x"></i><a href="#">Settings</a></li>
      <li class="menu-li"><i class="fas fa-sign-out-alt fa-2x"></i><a href="#">Sign Up</a></li>
    </ul>
  </div>
</div>