<div class="wrapper">
  <header class="ld-header">
    <img src="https://images.pexels.com/photos/2162909/pexels-photo-2162909.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="background">
    <h1 class="lp-title lp-title-top">Vision Board</h1>
    <h1 class="lp-title lp-title-bottom">Goal Tracker</h1>
  </header>
  <section>
    <div class="section-wrapper">
      <div class="welcome">
        <h1>
          Welcome to VISION BOARD GOAL TRACKER.
        </h1>
        <p>
          Successfully create a Vision Board of your goals and keep track of your progress.
        </p>
      </div>
      <div class="instructions">
        <ul>
          <li>
            After signing in, create your first goal and upload a picture that represents it well.
          </li>
          <li>
            In your Vision Board, click on your picture and it will take you to the step planner.
          </li>
          <li>
            Think about steps you can take that bring you closer to achieving your goal. These should be clear and precise. <br> I recommend focusing on a smaller amount of steps at a time. It's well known that a split focus can make you feel overwhelmed in no time. Ever had a To Do list that was longer than the Great Wall of China? <br> Don't worry, you can add new steps as you progress.
          </li>
          <li>
            Mark your steps as you get them done. This will boost your moral and give you a good representation of your progress.
          </li>
          <li>
            Have you done all steps and realized your Goal? Congratulations, you can mark your goal as conquered. <br> Sometimes we get to the finish line with less steps than we thought we needed. For these cases you can mark your goal as conquered without having fullfiled all steps.
          </li>
        </ul>
      </div>
      <div class="vb-benefits">
        <h1>
          Benefits of having a Vision Board
        </h1>
        <p>
          A vision board is essentially a visual representation of your goals and dreams. This means your dreams are clear and vivid every day as you look at your vision board to keep you moving forward.
        </p>
        <p>
          A vision board gives you something to focus on every day. This helps boost your focus as you accomplish daily tasks to reach your ultimate goal of achieving everything on your vision board. It helps boost your chances of success. Having a vision in life and work helps you remain focused on said success regularly.
        </p>
        <p>
          Let’s face it, some days are hard! That’s why having a vision board is a brilliant idea to provide motivation for those less than stellar days when motivation is lacking.
        </p>
      </div>

      <div class="personal-note">
        This website was created with ♥ during the Hackathon organized by Troopl. <br> A big thank you goes to the sponsor Jad Joubran, creator of Learn Javascript, and special thanks to Troopl's co-founder Tristan that, despite having a lot on his plate, gave all participants a hand when needed.
      </div>
      <div class="links">
        <a href="https://troopl.com/">Troopl.com</a>
        <a href="https://learnjavascript.online/">learnjavascript.online</a>
        <a href="https://troopl.com/diego-boy">My portfolio</a>
      </div>
      <div class="signature">
        Best regards, <br> Diego Boy
      </div>
    </div>
  </section>
</div>