<h1>Goal show page</h1>
<%= @goal.title %>

<br><br>
<h2>STEPS and Substeps will be shown here</h2>

<div>
  <%= link_to "Edit Goal", edit_goal_path %>
</div>
<div>
  <%= link_to "Delete Goal", goal_path, method: :delete %>
</div>

<div>
  <%= link_to "Homepage", root_path %>
</div>