.container {
  width: 100%;
  height: 100vh;
  background-color: #1F1F1F;
  display: flex;
}

.vision-container {
  width: 100%;
  max-height: 120rem;
  margin: auto;
  padding: 4rem 1.5rem 1.5rem;
}

.image-gallery {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
  grid-template-areas: 
      'img-1 img-2 img-3 img-3'
      'img-1 img-4 img-5 img-6'
      'img-7 img-7 img-8 img-6';
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a .fa-plus {
  color: rgba(255,255,255, .6);
  position: relative;
  z-index: 100;
  transition: 500ms;
}

.image-gallery .effect-on::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .6);
  transition: 500ms;
}

.image-gallery .effect-on:hover .fa-plus,
.image-gallery .effect-on:hover::before {
  background-color: rgba(0,0,0, .3);
}

.image-gallery .effect-on:hover .fa-plus {
  background-color: transparent;
}

.effect-off {
  background-color: rgba(0,0,0, 0);
}

.all-img {
  overflow: hidden;
  transition: 500ms;
  border: 1px solid rgba(255,255,255, .5);
  border-right: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(255,255,255, .2);
}

.all-img:hover {
  transform: scale( 1.05);
  transition: 500ms;
  box-shadow: 5px 5px 25px rgba(0,0,0, .8);
}

.img-1 {
  grid-area: img-1;
  min-height: 51.5rem;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.img-4 {
  grid-area: img-4;
}
.img-5 {
  grid-area: img-5;
}
.img-6 {
  grid-area: img-6;
  min-height: 51.5rem;
}
.img-7 {
  grid-area: img-7;
}
.img-8 {
  grid-area: img-8;
}

@media screen and (max-width: 900px) {
  .image-gallery{
    grid-template-areas: 
      'img-1 img-1 img-2 img-2'
      'img-1 img-1 img-3 img-3'
      'img-4 img-4 img-5 img-5'
      'img-6 img-7 img-7 img-7'
      'img-8 img-8 img-8 img-8';
  }

  .image-gallery a {
    height: 20rem;
  }

  .img-1 {
    min-height: 41.5rem;
  }

  .img-6 {
    min-height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery{
    grid-template-areas: 
      'img-1 img-1 img-1 img-1'
      'img-2 img-2 img-2 img-2'
      'img-3 img-3 img-3 img-3'
      'img-4 img-4 img-4 img-4'
      'img-5 img-5 img-5 img-5'
      'img-6 img-6 img-6 img-6'
      'img-7 img-7 img-7 img-7'
      'img-8 img-8 img-8 img-8';
  }

  .image-gallery a,
  .img-1,
  .img-6 {
    min-height: 30rem;
    height: 30rem;
  }
}